.team-container{
 background:rgba(255, 251, 249, 0.7);
}

.fw-wizard-step-header{
  display: none;
}

.fw-step-part-title {
  color: rgb(0,0,0);
}


header {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  background-color: #06000;
  color: #fff;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
 
}
.header {
  width: 100%;
  height: 100%; 
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.navbar-brand{
    font-size: 24px;
  font-weight: bold;
  color: #fff;
  font-style: italic;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.95);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  color: #fff;
  border-bottom-color: #fff;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}





/* display css for mobile */
@media (min-width:220px) { 
  /* smartphones, iPhone, portrait 480x320 phones */ 
  
  .carousel-caption{
    display:block !important;
  }
  
  .company-logo-text {
    margin: 0;
    padding: .4em;
    width: 100%;
    display: none;
  }


  /* mobile menu end */
  header{
    height: 250px;  
  }
  .header{
    background: rgba(0, 0, 0, 0.4) url(http://media.istockphoto.com/photos/freedom-in-nature-picture-id614034904) repeat;
  }
  
  .navbar-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
  div.aos-item__inner h2{
    color:white;
  }
  div.aos-item__inner h4{
    padding:1.2em;
    font-size:1em;
  }
  div.fw-progress-wrap{
    display:none;
  }
  div.fw-container{
    width:100% !important;
  }
  .fw-wizard-step-container{
    width: 95%;
  }
  div.fw-wizard-button-container{
    width: 95%;
  }
  div.fw-wizard-buttons{
    margin-top:0px !important;
  }


 /* mobile */
  div.carousel-post-caption{
    width:100% !important;
    padding:0.5em;
    bottom:0 !important;
    text-align: center;
    line-height: 1;
    background-color:rgba(251, 134, 25, 0.8);
  }

  button.navbar-toggle{
    display:block !important;
    background: rgba(0, 0, 0, 0.3) !important;
  }
  .icon-bar{
    background: #fff !important;
  }
  .ContentSection{
     width:100% !important; 
  }

}
@media (max-width:641px){
  .carousel-caption{
    bottom: 0;
    left:0;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color:rgba(250, 135, 25, 0.8)
  }
  .carousel-caption h1{
    margin: .5em;
    font-size: 1em;
  }
  /* tablet and mobile */
  .content-section-scroll{
    height: 220px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200% auto !important;
  }
  .content-section-scroll h1{
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(255,255,255);
    text-shadow: 2px 2px rgb(119,119,119);
  }
  
  .ContentSection{
     width:100% !important; 
     height: 100%;
  }
  #sidebar-wrapper{
    display: none;
  }
  .item{
    display:block !important;
  }
  ul.nav.nav-pills.nav-justified{
    display:none;
  }
  p{
    display:none !important;
  }
}

@media (min-width:641px) { 
  p{
    text-align: left !important;
    padding: 1em;
    font-size: larger !important;
    line-height: 2em !important;
  }
  header{
    height: 50% !important;
  }
  .carousel-caption{
    padding: 2em;
    background-color:rgba(250, 135, 25, 0.8);
  }
  #menu-item-365{
    border-top-style: solid;
    border-top-width: .2em;
    border-color: rgb(253,89,25);
  }
  #menu-item-364{
    border-top-style: solid;
    border-top-width: .2em;
    border-color: rgb(29,148,196);
  }
  #menu-item-363{
    border-top-style: solid;
    border-top-width: .2em;
    border-color: rgb(248,152,41);
  }
  #keywords-menu-section.navbar-collapse{
    background-color: rgba(238, 238, 238, 0.83);
    padding: 0;
  }
  #menu-keyword-menu.navbar-nav>li {
    text-align: center;
    padding: 1em;
    font-weight: bold;
    font-size: 3em;
    width: 33.333%;
  }
  #menu-keyword-menu.navbar-nav{
    width: 100%;
  }
  .ContentSection {
    float: right !important;
    width:82% !important;
  }
  .company-logo-text {
    display: block !important;
  }

  button.navbar-toggle{
    display: none !important;
  }

  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
  header{
    height: 400px;  
  }

  .header{
    background: rgba(0, 0, 0, 0.4) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;
  }
  
  .navbar-toggle{
  	background: rgba(0, 0, 0, 0.3) !important;
  }
  .icon-bar{
    background: #fff !important;
  }

  .wppb-form-field input{
    width: 100% !important;
  }
  .fw-wizard-step-container{
    width: 60%;
  }
  
  div.carousel-post-caption{
    top:10em;
    right:-30em;
    position:relative !important;
    padding:2em !important;
    width:60% !important;
    padding:0.5em;
    line-height: 2;
    background-color:rgba(251, 134, 25, 0.7);
  }
  .content-section-scroll{
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }
  /* pc desktop */
  .content-section-scroll h1{
    font-size: 4em;
    font-weight: bold;
    color: rgb(255,255,255);
    text-shadow: 2px 2px rgb(119,119,119);
  }
}


/* side slide menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* tab slider */
#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
    background:#eee;
}
#myCarousel .nav a {
    border-radius:0px;
}



input#register.submit.button{
  width:100%;
  background:#b1d234;
  border-radius:5px;
  border:0px;
  padding:1em;
}
.carousel slide{
  height:100% !important;
}


.post-grid .item .layer-media img {
  border-radius: 100% !important;
}



/*
  Sidebar
  Dirac Chen
  20170808
*/
/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
 html{
   height:100%;
 }
 header{
   height:100%;
 }
 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    width:18% !important;
    position: fixed;
    top:0px;
    left: 0px;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.8)!important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sidebar-nav{
  -webkit-padding-start:0px;
}
.sidebar-nav li a{
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-size: larger;
  font-weight: 900;
}
.sidebar-nav li h1{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal !important;
  margin-top: .5em;
  margin-left:2em;
  margin-right:1.3em;
  font-size: small;
}
.sidebar-nav li{
  width: 100%;
  background-color: rgb(150,150,150,.8)!important;
  padding: 1em;
  margin-top: 1px;
  display: inline-block;
  list-style-type: none;
}
.sidebar-nav p{
  display: none;
}
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
}


/* Sidebar Styles */
