.team-container{
 background:rgba(255, 251, 249, 0.7);
}

.fw-wizard-step-header{
  display: none;
}

.fw-step-part-title {
  color: rgb(0,0,0);
}


header {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  background-color: #06000;
  color: #fff;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
 
}
.header {
  width: 100%;
  height: 100%; 
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.navbar-brand{
    font-size: 24px;
  font-weight: bold;
  color: #fff;
  font-style: italic;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.95);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  color: #fff;
  border-bottom-color: #fff;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}





/* display css for mobile */
@media (min-width:220px) { 
  /* smartphones, iPhone, portrait 480x320 phones */ 
  
  
  .carousel-caption{
    display:block !important;
  }
  
  .company-logo-text {
    display: none;
  }


  /* mobile menu end */
  header{
    height: 250px;  
  }
  .header{
    background: rgba(0, 0, 0, 0.4) url(http://media.istockphoto.com/photos/freedom-in-nature-picture-id614034904) repeat;
  }
  
  .navbar-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
  div.aos-item__inner h2{
    color:white;
  }
  div.aos-item__inner h4{
    padding:1.2em;
    font-size:1em;
  }
  div.fw-progress-wrap{
    display:none;
  }
  div.fw-container{
    width:100% !important;
  }
  .fw-wizard-step-container{
    width: 95%;
  }
  div.fw-wizard-button-container{
    width: 95%;
  }
  div.fw-wizard-buttons{
    margin-top:0px !important;
  }



  div.carousel-caption{
    width:100% !important;
    padding:0.5em;
    left:0 !important;
    bottom:0 !important;
    text-align: left;
    line-height: 1;
    background-color:rgba(251, 134, 25, 0.4);
  }
  div.carousel-caption.h1{
    margin:1em !important;
  }
  button.navbar-toggle{
    display:block !important;
    background: rgba(0, 0, 0, 0.3) !important;
  }
  .icon-bar{
    background: #fff !important;
  }

}
@media (max-width:641px){
  .item{
    display:block !important;
  }
  ul.nav.nav-pills.nav-justified{
    display:none;
  }
  p{
    display:none !important;
  }
  h1{
    font-size:1em !important;
  }
}

@media (min-width:641px) { 

  .company-logo-text {
    display: block !important;
  }
  a .company-logo-text {
    font-family:Agenda-Light, "Agenda Light", Agenda, "Arial Narrow", sans-serif;
    font-weight:900;
  }
  button.navbar-toggle{
    display: none !important;
  }
  h1{
    font-size:50px !important;
    font-weight:bold;
  }
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
  header{
    height: 400px;  
  }

  .header{
    background: rgba(0, 0, 0, 0.4) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;
  }
  
  .navbar-toggle{
  	background: rgba(0, 0, 0, 0.3) !important;
  }
  .icon-bar{
    background: #fff !important;
  }

  .wppb-form-field input{
    width: 100% !important;
  }
  .fw-wizard-step-container{
    width: 60%;
  }
  
  div.carousel-caption{
    padding:2em !important;
    width:50% !important;
    padding:0.5em;
    left:30 !important;
    bottom:30 !important;
    text-align: left;
    line-height: 2;
    background-color:rgba(251, 134, 25, 0.4);
  }

  
}


/* side slide menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* tab slider */
#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
    background:#eee;
}
#myCarousel .nav a {
    border-radius:0px;
}

input#register.submit.button{
  width:100%;
  background:#b1d234;
  border-radius:5px;
  border:0px;
  padding:1em;
}
.carousel slide{
  height:500px !important;
}


.post-grid .item .layer-media img {
  border-radius: 100% !important;
}